@charset "UTF-8";
:root {
  --logo-color: #000000;
  --main-text-color: #757575;
  --tittle-color: #212121;
  --accent-color: #2196f3;
  --icons-color: #afb1b8;
  --button-color: #188ce8;
  --dark-bg-color: #2f303a;
  --page-tittle-color: #ffffff;
  --light-bg-color: #f5f4fa;
  --tittle-font-logo: 'Raleway', 'sans-serif';
  --tittle-font: 'Roboto', sans-serif;
  --grid-item: 1;
  --animation: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  :root {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --grid-item: 4;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  font-family: var(--tittle-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: gray; */
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.dark-bg {
  background-color: var(--dark-bg-color);
}

.team-bg {
  background-color: #f5f4fa;
}

.logo {
  font-family: var(--tittle-font-logo);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  color: var(--logo-color);
}

.text-logo {
  color: var(--accent-color);
}

.button {
  background-color: var(--accent-color);
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--page-tittle-color);
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  display: inline-block;
  border: none;
  transition: background-color var(--animation) var(--animation-timing-function);
}

.button--light:hover {
  background-color: var(--button-color);
}

.button--cursor {
  cursor: pointer;
}

.button-section {
  background-color: var(--light-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  color: var(--tittle-color);
  padding: 6px 22px;
  transition: background-color var(--animation) var(--animation-timing-function), color var(--animation) var(--animation-timing-function), box-shadow var(--animation) var(--animation-timing-function);
}

.button-section:hover, .button-section:focus {
  background-color: var(--accent-color);
  color: var(--page-tittle-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-subscription {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--page-tittle-color);
  padding: 10px 28px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1199.98px) {
  .button-subscription--margin {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--page-tittle-color);
  fill: var(--logo-color);
}

.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.button-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--light-bg-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--animation) var(--animation-timing-function);
}

.button-form:hover, .button-form:focus {
  background-color: var(--button-color);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation) var(--animation-timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.link-tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-color);
}

.link-paragraph {
  font-family: var(--tittle-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  color: var(--main-text-color);
}

.contacts-link {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list-tittle {
  font-family: var(--tittle-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: var(--tittle-color);
}

.list-text {
  font-family: var(--tittle-font);
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 0;
  color: var(--main-text-color);
}

.main-tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--tittle-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .main-tittle {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.join-tittle {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--page-tittle-color);
}

.tittle-indent {
  margin-bottom: 4px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.grid__icons {
  width: 100%;
  height: 120px;
  background-color: var(--light-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__tittle {
  font-family: var(--tittle-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .grid__tittle {
    text-align: center;
  }
}

.grid-work__team {
  text-align: center;
  background-color: #ffffff;
}

.grid-work {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.grid-work__item {
  --grid-item: 3;
}

.grid-work__label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--page-tittle-color);
  background: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  margin-bottom: 0;
  width: 100%;
}

.grid-work__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.grid-work__worker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-work__indent {
  margin-bottom: 10px;
}

.work-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 50px;
  position: relative;
}

.social-icons {
  display: inline-flex;
  margin-top: 16px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition: fill var(--animation) var(--animation-timing-function);
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  transition: background-color var(--animation) var(--animation-timing-function);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
  fill: var(--page-tittle-color);
}

.social-icons__link:hover .icon,
.social-icons__link :focus .icon {
  fill: var(--animation) var(--page-tittle-color);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-list__item {
  --grid-item: 2;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    --grid-item: 6;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--animation) var(--animation-timing-function);
}

.clients-list__link:focus, .clients-list__link:hover {
  border: 1px solid var(--accent-color);
}

.clients-list__link:focus .clients-list__icon,
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icons-color);
  transition: fill var(--animation) var(--animation-timing-function);
}

.grid-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .grid-portfolio {
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid-portfolio {
    margin-top: -50px;
  }
}

.grid-portfolio__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767.98px) {
  .grid-portfolio__item:nth-child(1) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .grid-portfolio__item:nth-child(-n + 3) {
    margin-top: 50px;
  }
}

.grid-portfolio__tittle {
  --grid-item: 1;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .grid-portfolio__tittle {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .grid-portfolio__tittle {
    --grid-item: 3;
  }
}

.grid-portfolio__link {
  text-decoration: none;
}

.grid-portfolio__link:hover .grid-portfolio__box,
.grid-portfolio__link:focus .grid-portfolio__box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid-portfolio__link:hover .grid-portfolio__overlay,
.grid-portfolio__link:focus .grid-portfolio__overlay,
.grid-portfolio__link:hover .grid-portfolio__box-item::before,
.grid-portfolio__link:focus .grid-portfolio__box-item::before {
  opacity: 1;
  transform: translateY(0%);
}

.grid-portfolio__box {
  transition: box-shadow var(--animation) var(--animation-timing-function);
}

.grid-portfolio__box-item {
  position: relative;
  overflow: hidden;
}

.grid-portfolio__box-item::before {
  display: block;
  position: absolute;
  content: '';
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animation) var(--animation-timing-function);
}

.grid-portfolio__overlay {
  font-size: 18px;
  line-height: 1.56;
  color: var(--page-tittle-color);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--animation) var(--animation-timing-function);
}

.grid-portfolio__border {
  border: 1px solid #eeeeee;
}

.grid-portfolio__box-tittle {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .grid-portfolio__box-tittle--padding {
    padding-bottom: 56px;
  }
}

.filter-line {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter-line {
    justify-content: center;
  }
}

.filter-button {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter-button {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-button {
    margin-bottom: 50px;
  }
}

.button-indent:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767.98px) {
  .button-indent:nth-child(n + 4) {
    margin-top: 15px;
  }
}

.form-footer {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
    justify-content: space-between;
  }
}

.form-footer__field {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--page-tittle-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  margin-right: 12px;
  /* transition: border var(--animation) var(--animation-timing-function); */
}

.form-footer__field::placeholder {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 16px;
}

.form-footer__field:-webkit-autofill, .form-footer__field:-webkit-autofill:hover, .form-footer__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--main-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
  box-shadow: 0 0 0px 1000px var(--dark-bg-color) inset;
}

@media screen and (min-width: 1200px) {
  .form-footer__field {
    width: 100%;
  }
}

.form-footer__icon {
  margin-left: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--animation) var(--animation-timing-function);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  background: var(--page-tittle-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation) var(--animation-timing-function);
}

@media screen and (max-width: 767.98px) {
  .modal {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  cursor: pointer;
}

.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--tittle-color);
  margin-bottom: 12px;
}

.modal__icon {
  position: absolute;
  top: 30px;
  left: 12px;
}

.modal-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  cursor: pointer;
}

.modal-form__data {
  font-size: 14px;
}

.modal-form__field input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation) var(--animation-timing-function);
}

.modal-form__field textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--animation) var(--animation-timing-function);
}

.modal-form__field textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__data:hover,
.modal-form__data:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__data:hover + .modal__icon,
.modal-form__data:focus + .modal__icon {
  fill: var(--accent-color);
}

.form-contract {
  text-align: center;
  position: relative;
}

.form-contract__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-left: 24px;
}

@media screen and (min-width: 1200px) {
  .form-contract__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-contract__modal {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-contract__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  fill: var(--tittle-color);
}

@media screen and (min-width: 1200px) {
  .form-contract__icon {
    left: 12px;
  }
}

.form-contract__modal:checked + .form-contract__icon {
  background-color: var(--accent-color);
  fill: var(--accent-color);
  border-radius: 2px;
  background-image: url(../images/icons/checkbox.svg);
  background-size: contain;
}

.form-contract__modal:focus + .form-contract__icon {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.33);
  border-radius: 2px;
}

.mobile-menu-button {
  position: relative;
  z-index: 101;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu .mobile-menu__current {
  color: var(--accent-color);
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.mobile-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -100vh;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: var(--page-tittle-color);
  transition: var(--animation);
}

.mobile-overlay.is-open {
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-overlay--padding {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts--margin {
  margin-bottom: 64px;
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  fill: var(--accent-color);
}

.mobile-social-list {
  display: flex;
}

.mobile-social-list__item {
  position: relative;
}

.mobile-social-list__item:not(:first-child)::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-list__item--margin:not(:last-child) {
  margin-right: 20px;
}

.mobile-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__wrap {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .menu-contacts .menu__item:first-child {
    margin-right: 30px;
  }
}

.menu__link {
  font-family: var(--tittle-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
}

@media screen and (max-width: 767.98px) {
  .menu__link {
    font-size: 40px;
    line-height: 1.175;
  }
}

.menu__current {
  color: var(--accent-color);
  position: relative;
}

.menu__current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-contacts {
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-contacts {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199.98px) {
  .menu-contacts__desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts__tablet {
    display: none;
  }
}

@media screen and (max-width: 1199.98px) {
  .menu-contacts .menu__item:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.menu-contacts__link {
  font-family: var(--tittle-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu-contacts__link {
    font-size: 12px;
    line-height: 1.167;
  }
}

.mobile-menu-contacts--size {
  font-size: 34px;
  line-height: 1.176;
  color: var(--accent-color);
}

.menu-contacts__link--size {
  font-size: 24px;
  line-height: 1.167;
}

.menu-contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .menu-contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu,
  .menu-contacts {
    display: none;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__content {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199.98px) {
  .hero__content {
    max-width: 360px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-mobile-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-mobile@2x-min.jpg);
  }
}

@media screen and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-tablet-min.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-desktop-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop/hero-desktop@2x-min.jpg);
  }
}

.hero__indent {
  margin-bottom: 30px;
}

.hero__tittle {
  font-family: var(--tittle-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--page-tittle-color);
}

@media screen and (max-width: 1199.98px) {
  .hero__tittle {
    font-size: 26px;
    line-height: 1.62;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section-work {
    display: none;
  }
}

.footer__link {
  font-family: var(--tittle-font);
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.footer__logo {
  color: var(--page-tittle-color);
}

address {
  font-style: normal;
  color: var(--page-tittle-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo-indent {
  margin-bottom: 20px;
}

.footer__address {
  margin-bottom: 9px;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__social-icons {
  margin-top: 20px;
}

.footer__flex {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199.98px) {
  .footer__flex {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__flex {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.footer__social-icons--dark {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767.98px) {
  .footer__contacts {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__social-icons .icon {
  fill: var(--page-tittle-color);
  transition: fill var(--animation) var(--animation-timing-function);
}

@media screen and (min-width: 768px) {
  .footer__join {
    padding-top: 12px;
  }
}

/* Скрывать текс */
/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */
/*# sourceMappingURL=main.css.map */