.social-icons {
  display: inline-flex;
  margin-top: 16px;

  & .icon {
    width: 20px;
    height: 20px;
    fill: var(--icons-color);
    transition: fill var(--animation) var(--animation-timing-function);
  }
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  transition: background-color var(--animation) var(--animation-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--page-tittle-color);
  }

  &:hover .icon,
  & :focus .icon {
    fill: var(--animation) var(--page-tittle-color);
  }
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}
